body{font-family:Ubuntu,sans-serif;color:#666;background:#fff;width:100%;padding:0; margin: 0;}
h1{color:#8EC919;}
h2{color:#88d;}
h3{color:#66b}
h4{color:#449}
h5{color:#227}
h6{color:#005}
p:first-child{margin-top:0}
small{font-size:0.75em}
a{text-decoration:none;color:#66f}
a:hover{color:#333}
table{width:100%}
table code{background:transparent;padding:0}
tr{border-bottom:1px solid #999}
tr:last-child{border-bottom:5px solid #999}
th,td{font-size:1em;line-height:1.25em;margin:0;padding:0.625em 0.5em;white-space:nowrap}
th{text-align:left;text-transform:uppercase;color:#fff;background:#999}
th a{color:#fff}
pre{background:#efefef;padding:0.75em;border-radius:0.75em}
p code,ul code{padding:0.145em 2em;border-radius:0.5em;white-space:nowrap}
blockquote pre,blockquote code{color:#666;background:#fff}
code{background:#eee;}
.center{text-align:center}
.right{text-align:right}
.header{border-bottom:1px solid #ccc}
.header p{font-size:0.75em;text-transform:uppercase;letter-spacing:0.2em;margin:0}
.footer{font-size:0.9em;}
.footer p{margin-top:1em}

ul, li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.index_header {
	position: relative;
	background: #5c7883;
	margin-top: -2px;
}
.index_header .container {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	padding-top: 55px;
	padding-bottom: 55px;
	position: relative;
}
.index_header .left {
	width: 560px;
	text-align: center;
	padding-left: 30px;
	padding-right: 40px;
	float: left;
}
.index_header .right {
	width: 960px;
}
.index_header aside {
	width: 960px;
	height: 190px;
	padding-top: 40px;
	background-size: 320px auto;
}

.index_header aside ul li {
	width: 100%;
	float: left;
	margin-top: 10px;
}

.index_header aside ul li a {
	border: 1px solid #9DCC4D;
	color: #fff;
	font-weight: 600;
	font-size: 0.9em;
	float: left;
	height: 48px;
	line-height: 48px;
	width: 70%;
	margin-left: 15%;
	text-align: center;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9ECC34', endColorstr='#8EC919', GradientType=0);
	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	transition: all 0.15s linear;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.index_header aside ul li a {
	border: 1px solid #9DCC4D;
	color: #fff;
	font-weight: 600;
	font-size: 0.9em;
	float: left;
	height: 48px;
	line-height: 48px;
	width: 70%;
	margin-left: 15%;
	text-align: center;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9ECC34', endColorstr='#8EC919', GradientType=0);
	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	transition: all 0.15s linear;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.index_header aside ul li a:hover {
	color: #fff;
	border: 1px solid #C6E77;
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, .2));
	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, .2);
	box-shadow: 0 3px 7px rgba(0, 0, 0, .2);
}
